* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  width: 100vw;
  height: 100px;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  text-align: center;
}
nav ul li{
  list-style: none;
  display: inline-block;
  padding: 15px;
  font-size: 20px;
}
.authbutton button{
  width: 150px;
  height: 40px;
  margin: 0px 10px;
  border-radius: 10px;
  border: none;
  background-color: coral;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index: 2;
  background-color: rgb(245, 208, 98);
  /* background-image: url(backgroun.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}
.text {
  text-align: center;
  margin: 10px;
  margin-left: 50px;
  justify-content: space-evenly;
  flex-direction: column;
  z-index: 2;
}
.text span {
  font-size: 25px;
}
.text h1 {
  font-size: 60px;
}
.Options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 2;
  transition: 0.5s;
}
.option h1 {
  font-size: 30px;
}
.option p {
  font-size: 20px;
  margin-bottom: 10px;
}
.option img {
  width: 200px;
  margin: 10px;
  margin-bottom: 0px;
}
.image {
  height: 85vh;
  padding: 10px;
  border-radius: 30px;
  margin-right: 50px;
  width: auto;
}
.option {
  margin: 10px 5px;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  height: 190px;
  transition: 0.5s ease-in;
  width: 220px;
  overflow: hidden;
  cursor: pointer;
}

.Options:hover .option {
  transform: scale(0.9);
  transition: transform 0.5s, filter 0.5s ease, height 0.5s, width 0.5s;
  filter: blur(5px);
}

.option:hover {
  transform: scale(1.1) !important;
  box-shadow: 0px 0px 20px black;
  filter: blur(0px) !important;
  z-index: 999;
  height: 300px;
}
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(10px);
  z-index: 998;
}
.modal {
  width: auto;
  height: 0;
  max-height: 90%;
  position: fixed;
  top: 30px;
  left: 20px;
  right: 20px;
  background-color: #fcedc1;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
  overflow: hidden;
  box-shadow: 0px 0px 100px black;
  filter: blur(0px) !important;
}
.modalexit {
  height: 100vh;
}
.pages {
  background-color: antiquewhite;
  width: 60%;
  height: 80%;
  overflow: hidden;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: aliceblue;
  box-sizing: border-box;
  vertical-align: top;
  transition: 1s;
  transform: translateY(0);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

#right {
  width: 100px;
  mix-blend-mode: color-burn;
  position: relative;
  left: -10px;
  transition: 0.3s;
  cursor: pointer;
}
#left {
  width: 80px;
  mix-blend-mode: color-burn;
  transition: 0.3s;
  cursor: pointer;
}
#right:hover,
#left:hover {
  scale: 1.1;
}
#right:active,
#left:active {
  scale: 0.9;
}
.exit {
  background-color: rgba(0, 0, 0, 0.5);
  width: 80px;
  height: 80px;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100px;
  border: 5px solid black;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.exit::after {
  content: "";
  height: 6px;
  width: 50px;
  background-color: black;
  display: block;
  transform: rotate(45deg);
  position: absolute;
  top: 33px;
  left: 10px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.exit::before {
  content: "";
  height: 6px;
  width: 50px;
  background-color: black;
  display: block;
  transform: rotate(-45deg);
  position: absolute;
  top: 33px;
  left: 10px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.exit:hover::after,
.exit:hover::before {
  scale: 1.1;
  background-color: red;
  filter: drop-shadow(0px 0px 10px red);
}
.exit:hover {
  scale: 1.1;
  border: 5px solid red;
}
.exit:active,
.exit:active::after,
.exit:active::before {
  scale: 0.3;
}

.gamesimg {
  width: auto;
  height: 195px;
  filter: drop-shadow(0px 0px 10px gray);
}

.playit {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 0px 10px gray;
  transition: 0.5s;
  cursor: pointer;
  font-size: 20px;
}
.playit:hover {
  background-color: greenyellow;
  box-shadow: 0px 0px 20px greenyellow;
  scale: 1.1;
}
.gamedesc {
  font-size: 20px;
}
.gametitle {
  color: rgb(29, 160, 160);
}

@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  .container {
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    flex-direction: row;
    flex-wrap: wrap;
    height: 1000px;
  }
  .image {
    height: auto;
    padding: 10px;
    border-radius: 30px;
    margin-right: 50px;
    width: 100vh;
    position: absolute;
    z-index: 1;
    max-width: 100vh;
    opacity: 0.8;
    filter: blur(5px);
  }
}
